.heading {
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}
.gallery {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  padding: 1px;
  border-radius: 10px;
  height: 130px;
  width: 100px;
  border: 1px solid #ccc;
}
.img-box {
  
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 20px;
}
.description {
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  width: 100px;
  height: 45px;
  padding: 5px;
  text-align: center;
}

.slide-img{

border:2px solid black ;
    height:200px;
    width:600px;
}
.slideshow {
  animation: slide 12s linear infinite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 5px;
}

.slideshow img {
 /* height: 450px;*/
/*  width: auto;*/
  margin: 10px 5px;
  
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
